body {
  background: linear-gradient(120deg, #a5b4fc, #6ee7b7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  font-size: 50px;
  margin: 30px;
  padding: 20px;
  position: relative;
  font-family: "bebas neue", sans-serif;
  color: black;
}
.navbar:hover {
  color: white;
  text-shadow: 0 4px 12px black;
}
.container {
  display: flex;
  align-items: center;
}
.side-image {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  margin-left: 100px;
  margin-right: 200px;
  border: 1px solid black;
}
.side-image:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.text-content {
  font-size: 30px;
  margin-left: 30px;
  font-family: "segoe UI", sans-serif;
}
.text-content:hover {
  text-shadow: 0 4px 12px white;
}
#about {
  padding: 30px;
  margin: 20px;
  margin-top: 100px;
  background: #fff8f0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#about:hover {
  box-shadow: 0 6px 16px lightcoral;
}
#about h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
#about p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 700px;
  margin: auto;
}
.social-links {
  margin-top: 20px;
}
.social-links a {
  margin: 0 10px;
  display: inline-block;
  transition: transform;
}
.social-links a:hover {
  transform: scale(1.2);
}
.next-button {
  text-align: center;
  margin-top: 90px;
}

.next-button button {
  padding: 20px 40px;
  font-size: 20px;
  background: linear-gradient(120deg, #538bbf, #a5b4fc);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.next-button button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
